.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/res/drawable/logo.png
/app/src/main/res/drawable/nav_header_bg.jpg
/app/src/main/res/drawable/ic_action_location_found_dark.png